.rating {
  display: flex;
  gap: rem(13);
  align-items: center;
  margin-bottom: rem(5);
}

.list {
  display: flex;
  align-items: center;
  gap: rem(1);
}

.item {
  display: flex;
}

.count {
  color: var(--text-secondary);
}
