.filters {
  // Base filters styles
}

.hideMobile {
  @media (max-width: $tablet) {
    display: none;
  }
}

.title {
  margin-bottom: rem(9);
  @media (max-width: $tablet) {
    margin-bottom: rem(7);
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: rem(9);
  @media (max-width: $tablet) {
    gap: rem(13);
  }
}
