.bannerHero {
  padding-block: rem(65);
  border-radius: rem(24);
  background: var(--light-green);

  margin-bottom: rem(19);
  padding-inline: rem(16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    padding-block: rem(47) rem(42);
  }
}

.title {
  margin-bottom: rem(12);
}

.description {
  max-width: rem(560);
  text-align: center;
  margin-inline: auto;
}
